
h1 {
    text-align: center;
}


.showAnswers {
    border: solid  1px  purple;
    color: red;
    width: auto;
}

.answers {
    border: solid  1px  purple;
    color: red;
}

.bigbox {
    border: solid 2px grey;
}

.quote {
    color: blue;
    font-size: 20px;
}

.clock {
    color: red;
    font-size: 35px;
}

#resultsBox {
    visibility: hidden;
    margin: 0 auto;
    width: 150px; 

}

#resultTitle {
    font-size: 20px;
    color: darkblue;
    text-align: center;
    width: 150px;
}

.resultSmallBox {
    border:  solid 1px  lightblue;
    width:  150px;
    text-align: center;
    padding: 10px 10px 10px  10px;
}

#gameArea {
    display: none;
    border: solid  1px  lightseagreen;
}

#submit {
    border: solid 1px whitesmoke;
    background-color: blue;
    color: white;
}